<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>spaday-lion</title>
    <meta name="description" content="Lion for spaday" />
    <meta name="author" content="1kbgz" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script type="importmap">
{
  "imports": {
    "@lion/ui/docs/fundamentals/systems/overlays/assets/demo-overlay-positioning.mjs": "./vendor/@lion/ui/docs/fundamentals/systems/overlays/assets/demo-overlay-positioning.js",
    "@lion/ui/": "./vendor/@lion/ui/exports/",
    "@lion/ui/calendar-translations/": "./vendor/@lion/ui/components/calendar/translations/",
    "@lion/ui/combobox-translations/": "./vendor/@lion/ui/components/combobox/translations/",
    "@lion/ui/form-core-translations/": "./vendor/@lion/ui/components/form-core/translations/",
    "@lion/ui/input-datepicker-translations/": "./vendor/@lion/ui/components/input-datepicker/translations/",
    "@lion/ui/input-file-translations/": "./vendor/@lion/ui/components/input-file/translations/",
    "@lion/ui/input-iban-translations/": "./vendor/@lion/ui/components/input-iban/translations/",
    "@lion/ui/input-range-translations/": "./vendor/@lion/ui/components/input-range/translations/",
    "@lion/ui/input-stepper-translations/": "./vendor/@lion/ui/components/input-stepper/translations/",
    "@lion/ui/input-tel-translations/": "./vendor/@lion/ui/components/input-tel/translations/",
    "@lion/ui/input-amount-dropdown-translations/": "./vendor/@lion/ui/components/input-amount-dropdown/translations/",
    "@lion/ui/overlays-translations/": "./vendor/@lion/ui/components/overlays/translations/",
    "@lion/ui/pagination-translations/": "./vendor/@lion/ui/components/pagination/translations/",
    "@lion/ui/progress-indicator-translations/": "./vendor/@lion/ui/components/progress-indicator/translations/",
    "@lion/ui/validate-messages-translations/": "./vendor/@lion/ui/components/validate-messages/translations/",
    "@lion/ui/docs/": "./vendor/@lion/ui/docs/"
  }
}
    </script>
    <script type="module" src="cdn/index.js"></script>
  </head>
  <body></body>
</html>
